#about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 50px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.about-info {
  text-align: center;
  margin: 30px 50px;
}

.about-info h1 {
  margin-bottom: 30px;
}


@media only screen and (min-width: 500px) and (max-width: 750px) {
  #about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 50px auto;

  }
}

@media only screen and (min-width: 1px) and (max-width: 499px) {
  #about-img {
    width: 280px;
    margin: 50px auto;
  }
  .about-info {
    text-align: center;
    margin: 20px 30px;
    font-size: 12px;
  }
  .about-info h1 {
    margin-bottom: 20px;
  }
}
