.comment-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#comment-title {
  text-align: center;
  margin: 30px;
}

#comment-new-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#comments {
  margin: 50px;
}

.comment-container {
  display: flex;
  justify-content: center;
  margin: 30px auto 0 auto;
}

.comment-container p {
  margin-bottom: 0;
}

.comment-btns {
  display: flex;
  justify-content: center;
}

.form-label.text.optional {
  display: none;
}

textarea.form-control {
  width: 400px;
  margin: auto;
}

.comment-new-img {
  justify-content: center;
  margin: 30px auto;
  display: flex;
  height: 500px;
  width: 650px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

@media screen and (max-width: 450px){
  .comment-container p {
    font-size: 12px;
  }
  .comment-new-img {
    justify-content: center;
    margin: 70px auto;
    display: flex;
    height: 200px;
    width: 255px;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

}
