body {
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

html {
  min-height:100%
}

a {
  text-decoration: none;
  color: black;
}

#title {
  font-size: 50px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.form-title {
  text-align: center;
  margin: 50px auto;
}

.articles-container {
  display: grid;
  margin: 50px auto;
  justify-content: center;
}

.articles-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  // grid-template-rows: 200px 200px 200px;
  grid-auto-rows: 200px;
  grid-gap: 10px;
}

.articles-grid a:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.article-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.article-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(85%);
}

.article-img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.article-img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.article-card p {
  position: absolute;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: end;
  color: $white;
}

@media screen and only {min-width: none;} and {max-width: auto;}
