.article-show-container img {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  height: 500px;
  width: 650px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.article-show-content {
  text-align: center;
  margin: 50px 150px;
}
.show-buttons {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 50px;
}
.show-buttons a {
  margin: 10px 10px;
}
.comments-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.comment-content {
  width: 300px;
  border: solid rgba(0, 0, 0, 0.359) 1px;
}

@media only screen and (min-width: 751px) and (max-width: 1000px) {
  .article-show-container img {
    margin: 20px auto;
    height: 300px;
    width: 400px;
  }
  .article-show-content {
    margin: 30px 80px;
  }
  .show-buttons {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 30px;
  }
  .show-buttons a {
    margin: 10px 10px;
  }
  .comment-content {
    width: 300px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 750px) {
  .article-show-container img {
    margin: 20px auto;
    height: 300px;
    width: 400px;
  }
  .article-show-content {
    margin: 30px 50px;
  }
  .show-buttons {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 30px;
  }
  .show-buttons a {
    margin: 10px 10px;
  }
  .comment-content {
    width: 300px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 499px) {
  .article-show-container img {
    margin: 20px auto;
    height: 200px;
    width: 280px;
  }
  .article-show-content {
    margin: 30px 50px;
  }
  .article-show-content p {
    font-size: 12px;
  }
  .show-buttons {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 30px;
  }
  .show-buttons a {
    margin: 10px 10px;
  }
  .comment-content {
    width: 300px;
  }
}
