.article-show-container img {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  height: 500px;
  width: 650px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.article-show-content {
  text-align: center;
  margin: 50px 150px;
}
.show-buttons {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 50px;
}
.show-buttons a {
  margin: 10px 10px;
}
.comments-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.comment-content {
  width: 300px;
  border: solid rgba(0, 0, 0, 0.359) 1px;
}
