.navbar-lewagon {
  // justify-content: space-between;
  position: sticky;
  top: 0;
  background: white;
  z-index: 12;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .container-fluid {
  justify-content: center;
}

.nav-link {
  color: rgba(0, 0, 0, 0.79);
  margin: 0 50px;
}

.nav-link:hover {
  color: $flame-orange;
}

li.nav-item.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100px;
}
